body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 15px;
}

h3 {
    text-align: center;
    color: #DF3A01;
}

.bang {
    margin-top: 20PX;
}

table {
    height: auto;
    border: 1px solid pink;
    padding: 5px;
    background-color: #F7BE81;
    margin: auto;
    width: 35%;
}

table td {
    text-align: left;
    color: black;
    text-decoration: none;
    padding: 10px;
}

span {
    color: red;
}

input {
    padding-left: 5px;
    margin: auto;
    width: 95%;
}

#btndangky {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: #FF8000;
    color: white;
    font-weight: bold;
}

#btndangky:hover {
    color: #FF8000;
    background-color: white;
    border: 2px solid #FF8000;
}

#btnreset {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: #FF8000;
    color: white;
    font-weight: bold;
}

#btnreset:hover {
    color: #FF8000;
    background-color: white;
    border: 2px solid #FF8000;
}