h1 {
    text-align: center;
}

table {
    margin: auto;
    background-color: #F5DA81;
    width: 38%;
    border: #DF7401 solid 1px;
    padding: 20px;
}

.name input {
    width: 85%;
    border: white solid 1px;
}

td {
    padding-left: 10px;
    padding-top: 15px;
}

#divresult {
    margin: auto;
    padding-top: 30px;
    width: 38%;
}