table {
    border-collapse: collapse;
    width: 330px;
}

span {
    color: red;
}

h2 {
    padding-left: 25px;
}

.main {
    display: block;
    background-color: bisque;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 330px;
}

.td1 {
    text-align: right;
}

.td2 {
    text-align: left;
}

.input1 {
    padding-left: 8px;
}